<!-- <% myCreatures.forEach(creature=>{%>
    <p><%=creature.type%></p>
    <img src="<%=creature.img_url%>" alt="<%=creature.type%>" width="300px">
<%})%>
 -->

<% myCreatures.forEach((creature, i)=>{%>
    <p><%=creature.type%></p>
    <img src="<%=creature.img_url%>" alt="<%=creature.type%>" width="300px">
    <form action="/prehistoric_creatures/<%=i%>/?_method=DELETE" method="POST">
        <input type="submit" value="delete">
    </form>
<%})%>
    
